<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> Ten wpis nie moze zostac zapisany</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imie %><br />
    <%= f.text_field :imie %>
  </div>
  <div class="field">
    <%= f.label :nazwisko %><br />
    <%= f.text_field :nazwisko %>
  </div>
  <div class="field">
    <%= f.label :kraj %><br />
    <%= f.text_field :kraj %>
  </div>
  <div class="field">
    <%= f.label :wpis %><br />
    <%= f.text_area :wpis %>
  </div>
  <div class="field">
    <%= f.label :podpis %><br />
    <%= f.text_area :podpis %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
