<h1>Wpisy do księgi gości</h1>

<table>
  <tr>
    <th>Imie</th>
    <th>Nazwisko</th>
    <th>Kraj</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.imie %></td>
    <td><%= post.nazwisko %></td>
    <td><%= post.kraj %></td>

    <td><%= button_to "Pokaż", post, :method => "get" %></td>
    <td><%= button_to "Edytuj", edit_post_path(post), :method => "get" %></td>
    <td><%= button_to "Usuń", post, method: :delete, data: { confirm: 'Usunąć wpis?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= button_to "Nowy wpis", new_post_path, :method => "get" %>

