<div class="show">
<p id="notice"><%= notice %></p>

<p>
  <b>Imie:</b>
  <%= @post.imie %>
</p>

<p>
  <b>Nazwisko:</b>
  <%= @post.nazwisko %>
</p>

<p>
  <b>Kraj:</b>
  <%= @post.kraj %>
</p>

<p>
  <b>Wpis:</b>
  <%= @post.wpis %>
</p>

<p>
  <b>Podpis:</b>
  <%= @post.podpis %>
</p>
</div>

<%= link_to 'Edytuj', edit_post_path(@post) %> |
<%= link_to 'Powrót', posts_path %>
